.head_text { font-size: 28px; font-weight: bold; }

 #world_map{
    text-align: center;
 }

 
h1 {
    text-align: center; padding: 50px; 
    font-size: 40px; font-weight: bold; 
    margin: 50px 100px 50px 100px ;
    font-family:'Open Sans';
}

h2 {
    text-align: center;
    padding-top: 15px;
    align-items:center;
    margin: auto 100px;
}

p {
    text-align: center; 
    padding-top:15px ;
    padding-bottom:15px ; 
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family:'Open Sans';

}

div {
    text-align:center; 
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}