#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.head_text { font-size: 28px; font-weight: bold; }

 #world_map{
    text-align: center;
 }

 #Highlight {
	color: rgb(255, 208, 0) ;
	font-weight: bold;
  }
 
h1 {text-align: center; padding: 50px; 
    font-size: 40px; font-weight: bold; 
    margin: 50px 100px 50px 100px ;
}

h2 {
    text-align: center;padding-top: 20px;
    align-items:center;
    margin: auto 100px;
}

p {text-align: center; padding-top:20px ;padding-bottom:15px ; align-items: center;margin: auto;
    font-size: 18px;
}

div {
    align-items:center; 
    margin: auto 100px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}